/*
    project.* - A demonstration of a responsive n-column UI for Mastodon
    Copyright (C) 2019 Phillip Murillas and Chris Babcock
*/

* {
  box-sizing: border-box;
}

body {
  background: blue;
}

textarea {
overflow: auto;
resize: none;
width: 90%;
margin: 5%;
}

#search-bar {
width: 100%
}

.avatar {width:24px;}
.profile-image {width: 24px; height: 24px}
.icon {height: 24px; width: 24px;}

.column-header {
color: white;
background: blue;
font-weight: bold;
margin: 5px;
margin-left: 0px;
}

#outer-container {
background: white;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

/* screen widths chosen for demo are not researched to target specific devices */

@media only screen and (max-width: 400px) {
/* single column - width up to 400px */
#control-panel {visibility: hidden; height: 0px;}
#content-1 {width:100%}
#content-2 {visibility: hidden;}
#content-3 {visibility: hidden;}
}

@media only screen and (min-width: 401px) {
/* multiple column - width over 400px */
#nav-bar-aux {
visibility: hidden;
height: 0px;
}
}

@media only screen and (min-width: 401px) and (max-width: 800px) {
/* 2 column - > 400px and < 800px */
#control-panel {width:50%; float: left;}
#content-1 {width:50%; float: left;}
#content-2 {visibility: hidden;}
#content-3 {visibility: hidden;}
}

@media only screen and (min-width: 600px) {
/* comfortable screen > 600px */
#outer-container {
width: 90%;
margin: 5%;
}

@media only screen and (min-width: 801px) and (max-width: 1200px) {
/* 3 column - > 800px and < 1200px */
#control-panel {width: 33%; float: left;}
#content-1 {width:33%; float: left;}
#content-2 {width:33%; float: left;}
#content-3 {visibility: hidden;}
}

@media only screen and (min-width: 1201px) {
/* 4 column > 1200px */
#control-panel {width: 25%; float: left;}
#content-1 {width:25%; float: left;}
#content-2 {width:25%; float: left;}
#content-3 {width:25%; float: left;}
}

